{% include 'libraries.html' %}

<body class="hold-transition layout-top-nav">
{% include 'navbar.html' %}
<div class="wrapper">
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <div class="page-title d-flex">
                            <!--                            <h4><i class="icon-arrow-right6 mr-2"></i> <span-->
                            <!--                                    class="font-weight-semibold">Dashboard:-</span> Autos Software</h4>-->
                        </div>
                        <h1 class="m-0 text-dark"><small></small></h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#" style="color:black"><i class="fa fa-home"></i> </a>
                            </li>

                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <div class="content">

            <div class="container-fluid">

                <div class="row p-2">




                </div>




                </div>


            </div>
        </div>

        <!-- Main Footer -->

        <!-- ./wrapper -->
    </div>

    <!-- Main Footer -->
  {% include 'footer.html' %}
</div>
</body>


</html>